html, body {
    padding: 0;
    margin: 0;
    font-family: Roboto, helvetica, arial, sans-serif;
    font-weight: 200;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}
body {
    /*background-color: hsla(50, 50%, 50%, 0.5);*/
    
    background: url(headbg.jpg);
    background-size: cover;
}
#header {
    width: 100%;
    /* background-color: rgba(23,36,196,0.3); */
    
    color: white;
    text-align: center;
    font-size: 60px;
}
header {
    font-weight: 200;
    /*text-shadow: 0px 0px 3px rgba(255, 255, 255, 1);*/
    
    text-shadow: 0 0 10px #00FF00;
}
div#form {
    /*margin: auto;*/
    
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: Roboto, helvetica, arial, sans-serif;
    /*background-color:hsla(100,55%,66%,0.5); */
}
form {
    margin: auto;
    width: 25%;
    padding: 2em;
    box-sizing: bodeer-box;
    background-color: hsla(200, 55%, 66%, 0.5);
    background-color: rgba(255, 255, 255, 0.3);
    background-color: #1724C4;
    background-color: rgba(23, 36, 196, 0.8);
    color: black;
    border-radius: 10px 10px;
    box-shadow: 0 0 10px #00FF00;
}
.footer {
    bottom: 0px;
    width: 100%;
    height: 10%;
    text-align: center;
    background-color: #1724C4;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 1);
}
label {
    font-size: 22px;
    color: white;
    font-weight: 100;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 1);
}
input {
    width: 95%;
    /*background-color: hsla(20, 255%, 255%, 0.7);*/
    
    font-size: 20px;
    font-weight: 400;
    font-family: Roboto, helvetica, arial, sans-serif;
    background: none;
    outline: none;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    /*padding-right: 1px;*/
    /*box-sizing: boder-box;*/
    
    color: white;
    /*text-shadow: 0px 0px 1px rgba(255, 255, 255, 1);*/
    
    display: block;
    border: none;
    border-bottom: solid 2px #FFFFFF;
    box-shadow: 0px 1px 0px #00FF00;
}
input:focus, input:active, {
    /*background: hsla(20, 255%, 255%, 0.7);*/
    
    outline: none;
    background: none;
}
#login, #register {
    width: 100%;
    padding: 0.5em;
    margin-top: 1em;
    font-size: 16px;
    box-sizing: border-box;
    border-radius: 20px 20px;
    box-shadow: 0 0 10px #00FF00;
    /*background-color: rgba(105, 170, 70,1);*/
    
    background-color: hsl(0, 100%, 40%);
    /*border-color: rgba(150, 150, 200);*/
    
    border: none;
    /*outline is used to delete focus state rectangle*/
    
    outline: none;
    /*color is for text color*/
    /*  
   #a2a2a2
   #666666
   #5283a1D
   #007042
   #80614
    */
    
    color: white;
    font-weight: 200;
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 1);
}
#login:hover, #register:hover {
    background-color: #dcdcdc;
    /*border-color: rgba(150, 150, 250, 0.8);*/
    
    color: black;
    border: none;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
}
#register:active, #login:active {
    /*background-color: red;*/
    
    background-color: hsl(0, 100%, 40%);
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
}
#my_email {
    color: white;
}
form a#register_link{
    color: white;
}

@media screen and (max-width: 572px) {
    /*width<=572px*/
    
    form {
        width: 50%;
    }
    #form {
        margin-bottom: 15%;
    }
    .footer {
        position: relative;
    }
    header {
        padding-top: 0.2em;
        padding-bottom: 0.2em;
    }
}
/*@media screen and (max-width: 480px) {
    .footer {
        position: absolute;
    }
}*/
@media screen and (min-width: 572px) {
    /*width>=572px */
    
    form {
        width: 300px;
    }
    .footer {
        position: relative;
    }
    header {
        padding-top: 0.8em;
        padding-bottom: 0.8em;
    }
}

@media screen and (max-height: 604px) {
    /*height<=600px*/
    header {
        padding-top: 0.2em;
        padding-bottom: 0.2em;
    }
    .footer {
        padding-top: 20px;
        padding-bottom: 50px;
    }
}

@media screen and (min-height: 700px){
    /*height>=700px*/
    .footer{
        position: absolute;
    }
}

@media screen and (min-height: 1200px){
    /*height>=1200px*/
    #form{
        margin-top: 300px;
    }
}

